.fondEcran {
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	background: url("../../img/landingPage.jpg");
	background-size: cover;
	background-position: bottom;
}

.citation {
	position: absolute;
	top: 25vh;
	left: 6vw;
	/* font-size: 55; */
	font-size: calc(20px + 0.8vw);
	color: #f1f1f1;
	font-family: Parisienne;
	animation: apparition 6s;
     
}
.logoHypnos {
	position: absolute;
	top: 40vh;
	right: 9vw;
    height: calc(200px + 0.8vw);
	width: calc(200px + 0.8vw);
	background: url("../../img/CaptureRose.png");
	background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	animation: apparition 6s ;
}
@keyframes apparition {
    from {
       
        opacity: 0;
    }
    to {
       
        opacity: 1;
    }
}