.legende {
	background-color: blueviolet;
	display: none;
}
.titreSuite {
	font-family: Parisienne;
	margin: 1rem auto;
	color: #f1f1f1;
	font-weight: 100;
}
.titre {
	font-family: Parisienne;
	margin: 0 auto;
	margin-top: 3%;
	font-size: 3rem;
	/* color: #5b5b5b; */
	font-weight: 500;
}

.cardMain {
	background-color: #5b5b5b;
	display: flex;
	flex-direction: column;
	width: 30%;
	margin: 3% 1%;
}
.cardMain:hover {
	transform: scale(1.05);
	transition: all 0.3s;
}
.suiteCardGroup {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 0 3%;
}

/* .main {
	background-color: #f1f1f1;
	display: flex;

	min-height: 92vh;

	justify-content: center;
	flex-direction: column;
} */
.mainSuite {
	background-color: #f1f1f1;
	display: flex;
	min-height: 92vh;
	justify-content: center;
	flex-direction: column;
}
.photoSuite {
	height: auto;
	width: 30%;
	margin: 3% 1%;
}
.infoEtablissement {
	list-style: none;
	font-family: Trirong;
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 5%;
}
.photo {
	height: 100%;
	width: 100%;
}
.bookingLien {
	font-weight: 500;
}
.buttonReserver {
	color: black;
	height: 3rem;
	line-height: 2rem;
	background: #efea5a;
	/* width: 5%; */
	-webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.78);
	box-shadow: 5px 5px 11px 2px rgba(0, 0, 0, 0.4);
	font-family: Trirong, serif;
	font-size: 1.85rem;
	border-radius: 0.55rem;
	margin: 3rem 5rem;
	/* color: rgb(241, 239, 239); */
}
.buttonReserverOpaque {
	color: black;
	height: 3rem;
	line-height: 2rem;
	margin: 3rem 5rem;
	background: #efea5a;
	/* width: 5%; */
	-webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.78);
	box-shadow: 5px 5px 11px 2px rgba(0, 0, 0, 0.4);
	font-family: Trirong, serif;
	font-size: 1.85rem;
	border-radius: 0.55rem;
	opacity: 0.5;
	/* color: rgb(241, 239, 239); */
}
.buttonAnnulation {
	color: black;
	height: 3rem;
	line-height: 2rem;
	background: #efea5a60;
	/* width: 30%; */
	margin: 3rem 5rem;
	-webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.78);
	box-shadow: 5px 5px 11px 2px rgba(0, 0, 0, 0.4);
	font-family: Trirong, serif;
	font-size: 1.85rem;
	border-radius: 0.55rem;
	/* color: rgb(241, 239, 239); */
}
.infoSuite {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 5%;
}
.mainResa {
	background-color: #f1f1f1;
	display: flex;
	flex-direction: column;
	min-height: 92vh;
	align-items: center;
	justify-content: space-between;
}
.mainMesResa {
	background-color: #f1f1f1;
	min-height: 82vh;
	padding: 2rem
}
.datePicker {
	background-color: #fa63a440;
	margin: 2rem ;
	padding: 1rem;
	font-size: 1.5rem;
	border-radius: 1rem;
	transition: all 0.2s;

}
.datePicker:hover {
transform: scale(1.03);
}

.selectAgence {
	font-size: 2rem;
	padding: 0.3rem;
	border-radius: 0.2rem;
	min-width: 25VW;
}
.calendarIcon {
	font-size: 1.5rem !important;
}
.input {
	margin: 2rem;
}
.inputwithSelect {
	text-align: end;
	margin: 2rem;
}
.datePickerContainer {
	margin: 0 auto;
}
.dateTexte{
	font-size: 2REM;
	font-weight: 600;
	margin-left: 6rem;
}
.header{
	width: 100VW;
	height: 10VH;
	background-color: #fa63a4;
	font-family: Parisienne;
	text-align: center;
	font-size: 3rem;
	/* color: #5b5b5b; */
	font-weight: 500;
	line-height: 10VH;

}

.reservationItem{
	background-color: #5b5b5b10;
	height: 6VH;
	margin-bottom: 1rem;
	border-radius: 0.3rem;
	font-family: Trirong, serif;
	font-size: 1.85rem;
}

@media screen and (max-width: 600px){
	.cardMain {
		background-color: #5b5b5b;
		display: flex;
		flex-direction: column;
		width: 90%;
		margin: 3% 1%;
		/* animation-delay: 2s; */
	}
}